/*

=====================================

 * Data Tables and Cascading Style Sheets Gallery *

 *  http://icant.co.uk/csstablegallery/index.php  *

 * Author: Velizar Garvalov at  http://www.vhg-design.com/ *

 =====================================

*/



table {

	width: 100%;

	margin:0px; 

 	padding:0px;

	font-family: "Tienne", Arial, sans-serif;
	
	color: #030303;

	

}

table, tr, th, td {

	border-collapse: collapse;

}

caption {

margin:0; 

 	padding:5px;

	background: #f3f3f3;

	height: 40px;

	line-height: 40px;

	text-indent: 28px;

	font-family: "Tienne",  Arial, sans-serif;	

	font-size: 14px;

	font-weight: bold;

	color: #555d6d;

	text-align: left;

	letter-spacing: 3px;

	border-top: dashed 1px #c2c2c2;

	border-bottom: dashed 1px #c2c2c2;

}



/* HEAD */



thead {

	background-color: #FFFFFF;

	border: none;

}

thead tr th {

	height: 32px;

	line-height: 32px;

	text-align: center;

	color: #1c5d79;

	background-image: url(col_bg.gif);

	background-repeat: repeat-x;

	border-left:solid 1px #FF9900;

	border-right:solid 1px #FF9900;	

	border-collapse: collapse;

	

}



/* BODY */



tbody tr {

	background: #F7F7F7;

	font-size: 13px;

}

tbody tr.odd {

	background: #F7F7F7;

}

tbody tr:hover, tbody tr.odd:hover {

	/*background: #ffffff;*/

}

tbody tr th, tbody tr td {

	padding: 8px;

	border: solid 1px #326e87;

}

tbody tr th {

	background: #1c5d79;

	font-family: "Tienne",  Arial, sans-serif;	

	font-size: 12px;

	padding: 6px;

	text-align: center;

	font-weight: bold;

	color: #FFFFFF;

	border-bottom: solid 1px white;

}

tbody tr th:hover {

	/*background: #D8D8D8;*/



}



/* LINKS */


/*
table a {

	color: #FF6600;

	text-decoration: none;

	font-size: 13px;

	border-bottom: solid 1px white;

}

table a:hover {

	color: #FF9900;

	border-bottom: none;

}
*/


/* FOOTER */



tfoot {

	background: #f3f3f3;

	height: 24px;

	line-height: 24px;

	font-family: "Tienne", Arial, sans-serif;	

	font-size: 14px;

	font-weight: bold;

	color: #555d6d;

	text-align: center;

	letter-spacing: 3px;

	border-top: solid 2px #326e87;

	border-bottom: dashed 1px #c2c2c2;

}

tfoot tr th, tfoot tr td {

	/*padding: .1em .6em;*/

	

}

tfoot tr th {

	border-top: solid 1px #326e87;

}

tfoot tr td {

	text-align: right;

	

}