@import "reset.css";
body, html {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #F7F7F7 none repeat scroll 0 0;
    #border-top: 3px solid #CCCCCC;
    font-family: helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-rendering: optimizelegibility;
}

table.externalInfo {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	padding: 2px;
	width:70%;
	margin-right:15%;
	margin-left:15%;
}
table.externalInfo td {
	border-width: 4px;
	padding: 1px;
	border-style: ridge;
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	width:70%;
	margin-right:15%;
	margin-left:15%;
	text-align:center;
}

table.position {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	padding: 2px;
	width:100%;
	margin-right:0%;
	margin-left:0%;
	text-align:left;
	
}
table.position td {
	border-width: 0px;
	padding: 1px;
	border-style: none;
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	width:%;
	margin-right:15%;
	margin-left:15%;
	text-align:left;
}

table.chart {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	padding: 2px;
	border-collapse: separate;
	background-color: #F7F7F7;
	width:100%;
	margin-right:0%;
	margin-left:0%;
}
table.chart td {
	border-width: 4px;
	padding: 2px;
	border-style: ridge;
	border-color: #F7F7F7;
	background-color: #F7F7F7;
	width:100%;
	margin-right:0%;
	margin-left:0%;
	text-align:center;
}

#homesearch {
    width: 700px;
    margin: auto;
}
#homesearch .searchbox {
    width: 700px;
}
#homesearch .searchbox input.text {
    width: 640px;
	font-size: 12px;
}

.searchbox select, .searchbox input.text, .searchbox textarea {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding: 0 20px;
}
.searchbox select {
    margin-bottom: 10px;
    padding: 0;
    width: 200px;
}
.searchbox input.go {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    #background: transparent url(go.png) no-repeat scroll 0 0;
    border: medium none;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-indent: -5000px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 48px;
}
.searchbox input.go:hover {
    background-position: 0 -100px;
    cursor: pointer;
}
.searchbox .plus {
    color: #1495C1;
    font-size: 12px;
}
.searchbox .plus:hover {
    color: #FF8B12;
}

.ui-autocomplete {
    cursor: default;
    position: absolute;
	font-size: 12px;
}

* html .ui-autocomplete {
    width: 1px;
}

.ui-menu {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: white none repeat scroll 0 0;
    border: 1px solid #DDDDDD;
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 2px;
	font-size: 12px;
}
.ui-menu .ui-menu {
    margin-top: -3px;
	font-size: 12px;
}
.ui-menu .ui-menu-item {
    font-family: helvetica,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
	font-size: 12px;
}
.minisearch a.ui-corner-all {
    font-size: 12px;
}
.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    text-decoration: none;
	font-size: 12px;
}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #8AD5FD none repeat scroll 0 0;
    margin: -1px;
	font-size: 12px;
}

.position {
	text-align: right;
	font-family: 'Tienne', sans-serif;
	font-size: 24px;
	color: #030303;
	text-shadow: 4px 4px 4px #aaa;
	font-weight: bold;
}
.position-description{
	text-align: left;
	vetical-align: top;
	font-family: 'Tienne', serif;
	font-size: 16px;
	color: #616161;
	font-weight: bold;
	#text-shadow: 4px 4px 4px #aaa;
}

.service-title{
	text-align: center;
	font-family: 'Tienne', sans-serif;
	font-size: 30px;
	color: #030303;
	text-shadow: 2px 2px 2px #aaa;
	font-weight: bold;
}

.service-subtitle{
	text-align: center;
	font-family: 'Tienne', sans-serif;
	font-size: 20px;
	color: #030303;
	text-shadow: 2px 2px 2px #aaa;
	font-weight: bold;
}


.dbpedia-text {
	text-align: center;
	font-family: 'Tienne', serif;
	font-size: 13px;
	color: #616161;
	font-weight: bold;
}

a:link{
	text-decoration: none; 
}


.menu,
.menu ul {
margin:0;
padding:0;
list-style:none;
}
.menu {width:200px;}
.menu li {
margin:0;
padding:0;
margin-bottom:1px;
}
.menu a {
display:block;
padding:2px 5px;
color:#000;
background:#b0c23d;
text-decoration:none;
}
.menu a:hover {background:#d9dcb0;}
.menu ul li {padding-left:15px;}
.menu ul a {background:#ced174;}
.hidden {display:none;}